body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
video {
    max-width: 80%;
    max-height: 80%;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
}