# Ignore build artifacts
# Build directories
bin/
obj/

# User-specific files
*.user
*.suo

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# Ignore temp folder in coding folder
temp/

# Ignore package-lock.json files
**/package-lock.json

# Ignore all contents of node_modules directories
**/node_modules/

#Ignore launchSetting files since working from two machines.
**/launchSettings.json
