<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Warehouse Practice</title>
    <link rel="stylesheet" href="./styles/common.css" />
  </head>
  <body>
    <div id="navbar">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./customers.html">Customers</a></li>
        <li><a href="./products.html">Products</a></li>
      </ul>
    </div>
    <h1>Data Warehouse Practice</h1>
  </body>
</html>
