<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Warehouse Sales</title>
    <link rel="stylesheet" href="/styles/common.css" />
  </head>
  <body>
    <div id="navbar">
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/sales">Sales</a></li>
      </ul>
    </div>
    <h1>Sales</h1>
    <div id="button-container">
      <button id="get-sales-btn" onclick="populateSalesTable()">
        Get Sales
      </button>
      <button id="save-sales-btn" onclick="saveSales()">Save Sales</button>
    </div>
    <div id="sales-table-section">
      <table id="sales-table">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Product</th>
            <th>Customer</th>
            <th>Total</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody id="sales-table-body">
          <!-- Data will be inserted here -->
        </tbody>
      </table>
    </div>
    <script src="/scripts/salesTable.js"></script>
    <script src="/scripts/saveSales.js"></script>
  </body>
</html>
