# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Vite build output
dist/
.vite/
.vitepress/cache/
.vite-inspect/

# Editor & IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac system files
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# TypeScript cache
*.tsbuildinfo

# ESLint & Prettier
.eslintcache
.prettier-cache/

# Storybook
.storybook/out/

# Jest
coverage/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/results/

# Playwright
playwright-report/

# Misc
*.tgz
*.bak
*.seed
*.log
*.lock
